---
import clsx from 'clsx';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Button } from '~/ui/components';

interface Props {
  imgSrc: ImageMetadata;
  imgAlt: string;
  title: string;
  description: string;
  href: string;
  isReverse?: boolean;
}
const { imgSrc, imgAlt, title, description, href, isReverse } = Astro.props;
---

<!-- todo solve responsive flexing of children -->
<section class={clsx('flex h-80 w-full', isReverse && 'flex-row-reverse')}>
  <div class="flex-1">
    <Image src={imgSrc} alt={imgAlt} class="h-full object-cover" />
  </div>
  <div class="flex-1 py-12 px-28 bg-[#CFCBBF]">
    <div class="flex flex-col gap-12 justify-between font-sansation font-light">
      <h2 class="text-4xl text-gray-900">{title}</h2>
      <div class="flex flex-col gap-8">
        <h3 class="text-2xl text-gray-800">{description}</h3>
        <Button as="a" href={href} text="Kontaktirajte nas" />
      </div>
    </div>
  </div>
</section>
