---
import type { IconType } from '~/ui/assets/icons';
import { Icon } from '~/ui/components';

interface Props {
  href: string;
  hrefType: 'mail' | 'tel';
  icon: IconType;
}
const { href, hrefType, icon } = Astro.props;

const isEmail = hrefType === 'mail';
const fullHref = `${isEmail ? 'mailto' : 'tel'}:${href}`;
---

<div class="flex items-center gap-4">
  <a class="w-[56px] h-[56px] p-2 rounded-full bg-[#4B7254] text-white" href={fullHref}><Icon icon={icon} /></a>
  <div class="flex flex-col gap-1">
    <p>{isEmail ? 'Email' : 'Telefon'}:</p>
    <a href={fullHref}>{href}</a>
  </div>
</div>
